.incomes-card{
    max-width: 400px;
    height: auto;
    margin: 10px;
}

mat-card-header{
    padding-top: 10px;
    justify-content: space-between;
    background-color: rgba(103,58,183, 0.2);
    border-radius: 10px;
}

.buttons{
    padding-right: 20px;  
}

.button-remove{
    background-color: rgba(103,58,183, 0.2);
    /*padding: 2px;*/
    margin:3px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
