
<mat-card class="incomes-card">
    <mat-card-header>
        
            <mat-card-title>Incomes</mat-card-title>
            <mat-card-subtitle>Here you can see your incomes</mat-card-subtitle>
        <div class="buttons">
            <mat-card-actions>
                <button mat-button (click)="addNewIncomes()">Add</button>
  
            </mat-card-actions>
        </div>
    </mat-card-header>
    <mat-card-content>
  
        <div class="incomeList">  
            <div class="income" *ngFor="let item of items | async">
                <div class="info" >
                    
                    <ul>
                        <li class="text" >
                            {{item.name_income}}
                        </li>

                        <li class="text" >
                            {{item.date}}
                        </li>

                    </ul>
        
                </div>
                <li class="text" >
                    {{item.amount}}€
                </li>

            </div>
        </div>          
    </mat-card-content>
</mat-card>
