.container{
    width: 50%;
    margin: auto;
    display: grid;
    padding: 30px;
    margin-top: 150px;
    grid-template-rows: 10% 30% 30% 30%;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 10px rgb(223, 223, 223);  
}

.first-title{
  font-size: 20px;
  justify-self: center;
}

.title{
    font-size: 14px;
    justify-self: center;
}

button:hover{
    background-color: rgba(103,58,183, 0.2);
}

.error{
  color: red;
}

.example-radio-button {
  margin: 5px;
}

.hijo{
  margin: 5px;
}