<app-toolbar></app-toolbar>
<div class="container">
    <mat-label class="title">How was your month? Poll</mat-label>

    

    <!-- <mat-form-field> -->
        <label>Have you archieved your monthly objectives?</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteSeason">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season" >
                {{season}}
            </mat-radio-button>
        </mat-radio-group>
    <!-- </mat-form-field> -->

    <!--<mat-form-field>
        <label>Have you fulfilled your monthly promises?</label>
            <mat-radio-button value="yes2">Yes</mat-radio-button>
            <mat-radio-button value="almost2">Almost</mat-radio-button>
            <mat-radio-button value="no2">No</mat-radio-button>
        </mat-radio-group>
    </mat-form-field>

    <mat-form-field>
        <label>Have you managed to keep your inicial savings intact?<br></label>
        <mat-radio-group>
            <mat-radio-button value="yes3">Yes</mat-radio-button>
            <mat-radio-button value="no3">No</mat-radio-button>
        </mat-radio-group>
    </mat-form-field>

    <mat-form-field>
        <label>Reflect here about your success, efforts, failures...</label>
        <textarea matInput class="text"></textarea>
    </mat-form-field>-->
    
    <button mat-button color="primary">Accept</button>
    <button mat-button color="primary">Cancel</button>
</div>

  