<app-toolbar></app-toolbar>
<div class="container">
    <span class="title">Login</span><br>
    
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" id="username" placeholder="Username" class="form-control" [(ngModel)]="username" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" placeholder="Password" class="form-control" [(ngModel)]="password" />
      </mat-form-field>
       
      <button mat-button color="primary"  class="btn btn-primary" (click)="login()">Login</button>
      <button mat-button color="primary" (click)="cancel()">Cancel</button>

    <ng-container *ngIf="errorMessage">
      <span class="error" >{{errorMessage}}</span>
    </ng-container>
   
   </div>