
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Kakeboss</span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">Log in/Register</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="login()">Log in</button>
        <button mat-menu-item (click)="sign_up()">Register</button>
        <button mat-menu-item (click)="viewProfile()">View Profile</button>
        <app-balance></app-balance>
        <app-signout></app-signout>
      </mat-menu>
      <button (click)="poll()">Monthly Poll</button>
      <button (click)="expectations()">Expectations</button>
  </mat-toolbar-row>
</mat-toolbar>