/* .expenses-card{
    max-width: 400px;
    height: auto;
    margin: 10px;
}

mat-card-header{
    padding-top: 10px;
    justify-content: space-between;
    background-color: rgba(103,58,183, 0.2);
    border-radius: 10px;
} */

/* .buttons{
    padding-right: 20px;
}

.expense{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left:10px;
    padding-right: 10px;
}

.expense:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.name{
    font-size: 20px;
    font-weight: 500;
} */




/****************/
#container{
    padding: 8px 32px;
  }
  
  table {
      width: 100%;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    
  
    .header-row{
      width: 100%;
      padding: 8px;
      display: grid;
      grid-template-columns: 22% 22% 22% 22% 6% 6%;
      grid-template-rows: 100%;
      text-align: center;
    }
  
    .row{
      width: 100%;
      padding: 8px;
      display: grid;
      grid-template-columns: 22% 22% 22% 22% 6% 6%;
      grid-template-rows: 100%;
      text-align: center;
    }
    
    .icon{
      cursor: pointer;
    }