
<mat-card class="expenses-card">
    <mat-card-header>
            <mat-card-title>Expenses</mat-card-title>
            <mat-card-subtitle>Here you can see your expenses</mat-card-subtitle>
        <div class="buttons">
            <mat-card-actions>
                <button mat-button (click)="addNewExpense()">Add</button>
           
            </mat-card-actions>
        </div>
    </mat-card-header>
    <mat-card-content>
   
   
        <div class="expenseList" >  
            <div class="expense"  *ngFor="let item of items | async">
                <div class="info">
        
                    <ul>
                        <li class="text">
                          {{item.name_expense}}
                        </li>
                        <li class="text" >
                            {{item.date}}
                        </li>
                    </ul>
        
                </div>
                <li class="text">
                    {{item.amount}}€
                </li>
                <button (click)="removeExpense(item.eventId)"> remove</button>
             </div> 
            <mat-divider></mat-divider>
        </div>          
    </mat-card-content>
</mat-card>

