
<mat-card class="expenses-card">
    <mat-card-header>
            <mat-card-title>Expenses</mat-card-title>
            <mat-card-subtitle>Here you can see your expenses</mat-card-subtitle>
        <div class="buttons">
            <mat-card-actions>
                <button mat-button (click)="addNewExpense()">Add</button>
           
            </mat-card-actions>
        </div>
    </mat-card-header>
    <mat-card-content>
   
        <mat-form-field appearance="fill">
            <mat-label>Filter category</mat-label>
            <mat-select>
              <mat-option (click)="getExpenseBySupervivencia()" value="supervivencia">Supervivencia</mat-option>
              <mat-option (click)="getExpenseByOcio()" value="ocio">Ocio y vicio</mat-option>
              <!-- <mat-option (click)="getExpenseByCultura()" value="cultura">Cultura</mat-option>
              <mat-option (click)="getExpenseByExtras()" value="extras">Extras</mat-option> -->
            </mat-select>
          </mat-form-field>

          <!-- <mat-form-field appearance="fill">
            <mat-label>Filter category</mat-label>
            <mat-select required (selectionChange)="changeCategory($event.value)" (click)="getExpenseByCategory()" >
              <mat-option  *ngFor="let category of categories"  [value]="category.value" >
                {{category.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->


        <div class="expenseList" >  
            <div class="expense"  *ngFor="let item of items | async">
                <div class="info">
        
                    <ul>
                        <li class="text">
                          {{item.name_expense}}
                        </li>
                        <li class="text" >
                            {{item.date}}
                        </li>
                    </ul>
        
                </div>
                <li class="text">
                    {{item.amount}}€
                </li>
                <button (click)="removeExpense(item.eventId)"> remove</button>
             </div> 
            <mat-divider></mat-divider>
        </div>          
    </mat-card-content>
</mat-card>

