<app-toolbar></app-toolbar>
<div class="front">
    <img src="../../../assets/images/kakeboss.png" alt="logo">

    <mat-tab-group>
        <mat-tab label="¿Qué es Kakeboss?"> 
            <div class="infop">
                <p class="infoFront">Kakeboss es una herramienta basada en el Kakebo, que es un vocablo japonés que significa literalmente 
                'Libro de cuentas para el uso doméstico'. Nació en 1904 de la mano de Motoko Hani, la primera periodista 
                mujer de Japón, que buscaba una nueva forma para que las esposas pudiesen gestionar los ingresos de su 
                familia eficientemente . Hacia los años 40, este método se hizo tan popular que se crearon libros y agendas, 
                que hasta hoy son un boom de ventas. Esta técnica requiere cierta metodología, pero no muchos recursos: una 
                libreta, una lapicera y voluntad.</p>

                <p class="infoFront">A priori, puede parecer una forma más de hacer tus cuentas, pero el kakebo enseña que el dinero no es todo y 
                a valorar las cosas más allá de su precio. La filosofía detrás implica poner énfasis en las cosas de las que 
                no se puede prescindir y aprender a deshacerse de las que no son un gasto elemental . Es una pieza más de la 
                cosmovisión japonesa de que el orden lleva a la belleza y que esta transporta a la paz, el bienestar y la armonía. 
                Para ello, te invita a evaluar cuánto, cómo y en qué gastas tu plata y hacer un balance. No solo ayuda a ahorrar, 
                sino a reflexionar sobre tus consumos.</p>
                </div>
        </mat-tab>
        <mat-tab label="¿Cuál es el método?"> 
            <div class="infop">
                <p class="infoFront">Es un sistema fácil, pero requiere constancia . Lo primero es registrar tus ingresos y gastos, más el ahorro que puedas asumir para saber con cuánto dinero cuentas para pasar el mes. Dado que a veces puede dar fiaca o no encontramos el tiempo para sentarnos a registrar los gastos, el método propone que, con el café de la mañana o a la noche antes de dormir, anotes todos los tickets del día anterior.</p>
                <p class="infoFront"><b>Ingresos</b> . Lo primero es poner en claro todo el dinero que entra a tu favor mes a mes, ya sea sueldo, plata de trabajos extras, regalos, devolución de impuestos, etc.
                <p class="infoFront"><b>Gastos fijos</b> . En otra columna anotá todos aquellos gastos mensuales recurrentes, como los servicios, el alquiler, expensas, etc.
                <p class="infoFront"><b>Tu ahorro</b> . Acá hay dos opciones. La primera es ahorrar de antemano y, por lo tanto, restarlo también a los ingresos, como si fuera un gasto fijo más. La alternativa es esperar a fin de mes para ahorrar el sobrante de tus gastos semanales. Sea cual sea la forma de ahorro que elijas, es fundamental tener en claro cuáles son tus metas para ver si las vas cumpliendo y tomar las medidas de corrección oportunas al hacer el balance del mes.
                <p class="infoFront"><b>Presupuesto</b> . A los ingresos, restales los gastos fijos para saber cuál es tu presupuesto mensual para tus gastos semanales.
                <p class="infoFront"><b>Tus gastos semanales</b> . Anota todos los días tus consumos, divididos en distintos rubros: supervivencia (comida, salud, transporte), ocio y vicio (salidas, ropa, cosméticos), cultura (libros, espectáculos, películas) y extras (regalos, viajes, arreglos de la casa). Si restas el total de tus gastos semanales a tu presupuesto, te da el balance final.
            </div>
        </mat-tab>
        <mat-tab label="El decálogo del ahorro"> 
            <div class="infop">
                <p class="infoFront"><b>1. </b>No ahorres mañana lo que puedas ahorrar hoy</p>
                <p class="infoFront"><b>2. </b>Si la paciencia es la madre del ahorro, la constancia es si mejor amiga</p>
                <p class="infoFront"><b>3. </b>De poco sirve tener por tener. De nada sirve gastar por gastar</p>
                <p class="infoFront"><b>4. </b>Ante la tentación, reflexión</p>
                <p class="infoFront"><b>5. </b>La avaricia es el peor enemigo de tu ahorro</p>
                <p class="infoFront"><b>6. </b>Hay cosas que no se compran con dinero, esas, son las más importantes</p>
                <p class="infoFront"><b>7. </b>Nunca pierdas de vista tu objetivo</p>
                <p class="infoFront"><b>8. </b>Compartir es una de las mejores maneras de ahorrar</p>
                <p class="infoFront"><b>9. </b>No dejes que un mal mes te desvíe del camino</p>
                <p class="infoFront"><b>10. </b>Si te asaltan las dudas, recuerda este decálogo</p>
            </div>
        </mat-tab>
    </mat-tab-group>

    <button class="registerButton" mat-raised-button color="primary" (click)="signup()">¡Regístrate ya!</button>

</div>
<app-quiz></app-quiz>