
    <div class="container">
      <mat-label class="title">Sign Up</mat-label>
      
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input  name="name" matInput [(ngModel)]="name" class="form-control" required>
            </mat-form-field>
         
            <mat-form-field>
                <mat-label>Surname</mat-label>
                <input name="surname" matInput  [(ngModel)]="surname" class="form-control" required>
              </mat-form-field>
          
              <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [(ngModel)]="email" required>
              </mat-form-field>

            <mat-form-field >
                <mat-label>Password*</mat-label>
                <input matInput id="password" type="password" placeholder="Password" class="form-control" [(ngModel)]="password" />
            </mat-form-field>
            <br>
            <mat-form-field >
              <mat-label>Confirm Password*</mat-label>
              <input matInput id="password" type="password" placeholder="Repeat password" class="form-control" [(ngModel)]="passwordRepeat" />
            </mat-form-field>
          
         
              <button mat-button color="primary" (click)="createUser()" >Acept</button>
              <button mat-button color="primary">Cancel</button>

      </div>

  
