
    <div class="container-info">
    
        <div class="fullname">
          <form class="example-form" >

            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input  name="name" matInput required>
            </mat-form-field>

            <mat-form-field  appearance="fill">
                <mat-label>Surname</mat-label>
                <input name="surname" matInput required>
              </mat-form-field>
            
              
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                  <mat-hint>Errors appear instantly!</mat-hint>
                </mat-form-field>
            

            <mat-form-field  appearance="fill">
                <label  for="description">Password</label>
                <input id="password" type="password" placeholder="Password" class="form-control" formControlName="password" />
            </mat-form-field>
  
            </form>
          </div>


          <div class="buttons">
              <button mat-button color="primary" >Aceptar</button>
              <button mat-button color="primary">Cancelar</button>
          </div>
  
       
      </div>

  
