
    <div class="container">
      <mat-label class="title">Sign Up</mat-label>
      <form novalidate>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input  name="name" matInput formControlName="name" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Surname</mat-label>
                <input name="surname" matInput  formControlName="surname" required>
              </mat-form-field>
            
              
              <mat-form-field>
                <mat-label>Email*</mat-label>
                <input matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com">
                <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error> -->
              </mat-form-field>
            

            <mat-form-field >
                <mat-label>Password*</mat-label>
                <input matInput id="password" type="password" placeholder="Password" class="form-control" formControlName="password" />
               
            </mat-form-field>

            <mat-form-field >
              <mat-label>Confirm Password*</mat-label>
              <input matInput id="password" type="password" placeholder="Password" class="form-control" formControlName="passwordRepeat" />
          
            </mat-form-field>
  
          </form>
              <button mat-button color="primary" >Acept</button>
              <button mat-button color="primary">Cancel</button>

      </div>

  
